body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  h2 {
   color: yellow;

  }
  p {
    color: red;
  }
  table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  }
  th, td {
    background-color: white;
  }